.jumbotron.services
  .container
    .row
      .col-md-4
        = link_to do
          %h3
            Discover Research
            %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
        .image
          = image_tag 'services-1.jpg'
        %p
          "Interested in finding new information to use in your work?
          Curious to see what your fellow students learn about?
          Let's get started.
      .col-md-4
        = link_to do
          %h3
            Discover Peers
            %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
        .image
          = image_tag 'services-2.jpg'
        %p
          Use Papermache to build a network of researchers equally
          as valuable as the research they produce.
          Reach out, collaborate, and write better papers.
      .col-md-4
        = link_to do
          %h3
            Contribute Papers
            %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
        .image
          = image_tag 'services-3.jpg'
        %p
          Let the time you spent creating papers mean something.
          Bypass the trash can and proudly give life to your work
          by enlightening your peers. Own your work and retain rights
          unavailable anywhere else.