.jumbotron.search_jumb
  .container
    .col-md-6
      %form{:role => "search"}
        %input.form-control{:placeholder => "", :type => "text"}
        .buttons
          = link_to 'Search Peers', class: 'btn btn-default'
          = link_to 'Search Papers', class: 'btn btn-default'


    .row
      .container-fluid
        .col-md-2
          = link_to do
            Top
          = link_to do
            Hot
          = link_to do
            Most Viewed
          = link_to do
            Most Commented
          = link_to do
            Most Cited
        .col-md-10
          .row
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum Lorem ipsumLorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
          .row
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum Lorem ipsumLorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
          .row
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum Lorem ipsumLorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
          .row
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum Lorem ipsumLorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
          .row
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum Lorem ipsumLorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
          .row
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum Lorem ipsumLorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
          .row
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum Lorem ipsumLorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan
            = link_to do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  Title: Lorem ipsum
                %h6
                  Author: Dexter Morgan