.row
  .container-fluid
    .col-md-2
      = sortable 'cached_votes_score', 'Top'
      = link_to do
        Hot
      = link_to do
        Most Viewed
      = link_to do
        Most Commented
      = link_to do
        Most Cited
    .col-md-10
      - @papers.each_slice(4) do |paper4slice|
        .row
          - paper4slice.each do |paper|
            = link_to paper do
              .col-md-3.col-sm-3
                = image_tag 'doc-icon.png'
                %h6
                  = "Title: #{paper.title}"
                %h6
                  = "Author: #{paper.account.full_name}"
