!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PapermacheFrontend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    = render :partial => 'layouts/navbar' if !@paper || !current_page?(pdfbrowse_papermache_paper_path(@paper))
    = yield
    = render :partial => 'layouts/footer' if !@paper || !current_page?(pdfbrowse_papermache_paper_path(@paper))