!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PapermacheFrontend
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    -# = render 'layouts/navbar' unless current_page?(new_account_path)
    = render 'layouts/navbar' unless current_page?(pdfbrowse_papermache_paper_path)
    = yield
    = render 'layouts/footer' unless current_page?(pdfbrowse_papermache_paper_path)
